*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    top: 0;
}
.logo{
    /* position: fixed; */
    margin-left: 3em;
    margin-top: 3em;
    width: 12em;
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat; 
}

.container {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 3.5em;
    max-width: 75em;
    width: 100%;
    margin:auto;
}

img.mockup{
    width:40em;
}
.info{
    padding-top: 2.5em;
}
h1{
    font-family: Poppins;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 2.5em;
    line-height: 1.5em;
}

p{
    font-family: Open Sans;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    padding-bottom: 1em;
    padding-top:1em;
}

button{
    font-family: Poppins;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
    background-color: hsl(0, 0%, 100%);
    width: 11em;
    height: 3em;
    border-radius: 3em;
    box-shadow: 2px 5px hsl(257, 40%, 49%);
}

button:active{
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
    transform: translateY(2px);
}

button:hover{
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}

.socials{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5em;
    margin-bottom: 2em;
    gap: 1em;
}

svg {
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    border: hsl(0, 0%, 100%) solid 0.08em;
    border-radius: 50%;
    padding: 0.3em;
}

footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 375px) {

    body{
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
    }
    
    .container{
        display: block;
        padding: 2em;
        margin: auto;
        width: 80%;
    }

    img.mockup{
        width: 95%;
    }
    h1{
        font-size: 1.5em;
        text-align: center;
    }
    .info{
        margin: 1em;
    }

    p{
        text-align: center;
    }

    button {
        display: block;
        margin: 0 auto;
        
    }
}